/* Write your code here. */
.emoji-container {
  background-color: #ffffff33;
  border: 1px solid #ffffff30;
  border-radius: 15px;
  width: 140px;
  height: 140px;
  margin: 10px;
}

.emoji-list-item {
  list-style-type: none;
}

.emoji-img {
  width: 90px;
  height: 90px;
}
